<div class="contactsContainer">
    <div class="heroSection">
        <app-header></app-header>
        <div class="row   heroContent">
            <div class="offset-lg-2 col-lg-3    heroLeft">
                <p>Contact us</p>
            </div>
            <div class="offset-lg-1 col-lg-1">
                <div class=heroMid></div>
            </div>
            <div class="col-lg-4   heroRight ">
                <p>“ Have any questions or need assistance? We're here to help! Reach out to us, and we’ll get back to
                    you as soon as possible. ”</p>
            </div>
        </div>
    </div>
    <div class=formsection>
        <div class="container">
            <div class="formContainer">
                <form class="formSection">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Full Name:</label>
                            <input type="text" class=" form-control   inputfleid" id="name" aria-describedby="nameHelp"
                                placeholder="Enter Name" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phone">Number:</label>
                            <input type="number" class="form-control   inputfleid " id="phone"
                                placeholder="Phone Number" />
                        </div>
                    </div>
                    <div class="row secondRow">
                        <div class="form-group col-md-6">
                            <label for="mail">Email:</label>
                            <input type="email" class="form-control  inputfleid " id="mail"
                                aria-describedby="emailHelp" placeholder="Enter email" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="contactfor">Contact for:</label>
                            <input type="text" class="form-control   inputfleid " id="contactfor"
                                placeholder="Contacting For" />
                        </div>
                    </div>
                    <div class="row  secondRow ">
                        <div class=" mx-sm-3">
                            <label for="textarea" class="form-label">Message :</label>
                            <textarea class="form-control   textarea " id="textarea" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="btncontainer">
                        <button type="submit" class="btn btn-primary   btnforsumbit">Submit</button>
                    </div>

                </form>
            </div>
        </div>
        <app-footer></app-footer>
    </div>

</div>