<div class="servicesContainer">
    <div class="heroSection">
        <app-header></app-header>
        <div class="heroContent">
            <div class="herotop">
                <p>Services</p>
            </div>
            <div class="herobottom">
                “Having good people around you helps you reach your goals.” </div>
        </div>
    </div>
    <div class="ServiceSection">
        <div class="container">
            <p class="paraForServices">We leverage our extensive knowledge base to deliver tailored solutions that
                align with customer needs, strategic business goals, and budgetary constraints. By combining deep
                industry expertise with innovative technology, we ensure our solutions address immediate challenges
                while supporting long-term growth. Our approach prioritizes scalability, efficiency, and
                cost-effectiveness, enabling us to meet and exceed client expectations.</p>
        </div>
        <app-footer></app-footer>
    </div>

</div>