<nav class="navbar  navbar-expand-lg navbar-light bg-light">
    <a href="/"><img class="navbar-brand logo" src="assets/image/icon.svg" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav navCollapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item ">
                <a href="service" class="nav-link">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="help">
                    How to use ?
                </a>
            </li>
            <li class="nav-item">
                <a href="pricing" class="nav-link">
                    Pricing
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ourTeam">
                    Our Team
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">
                    Contact
                </a>
            </li>
        </ul>
        <div class="form-inline btn-all my-2 my-lg-0">
            <button class="btn logIn-btn btn-outline my-2 my-sm-0 " type="submit">
                Log In
            </button>

            <button class="btn signIn-btn  my-3 ml-1 my-sm-0" type="submit">
                Sign Up
            </button>
        </div>
    </div>
</nav>

