<div class="main-content">
    <app-header></app-header>
    <p-toast />
    <div class="container ">
        <div class="row mt-5">
            <div class="col-lg-6 col-12 heroLeft">
                <h1 class="heroLeftTitle">AI Auto Subtitle Generator</h1>
                <h6 class="heroLeftSub">
                    Here, you can efficiently generate subtitles or captions with
                    precision and ease.
                </h6>
                <input #fileInput type="file" (change)="handleChange($event)" [accept]="allowedFileTypes"[hidden]="true"/>

                <div class="btnContainer">
                    <button class="heroLeftBtn" class="btn heroLeftBtn" id="video-selector"  (click)="fileInput.click()">
                        <img src="assets/image/upload.svg" height="20px" />
                        Upload File
                    </button>
                </div>
                <input type="file" accept="video/mp4" hidden id="video-selector-input" />

                <br />
                <span class="spanforlefthero">
                    ( Upload only mp4 videos only )
                </span>
            </div>
            <div class="col-lg-5 offset-lg-1 col-12 heroRight">
                <p class="heroNav">
                    Auto Cation Generator &#11164; Subt Ai
                </p>
                <video src="assets/video/heroVideo.mp4" type="video/mp4" width="500" autoplay [muted]="muted"
                    class="heroRightVideo">
                    Your browser does not support the video tag.
                </video>

                <div class="btnMute">
                    <img [src]="muted ? 'assets/image/mute.png' : 'assets/image/volume.png'" alt="mute"
                        (click)="toggleForVideoMute()" class="btnVol">

                </div>
            </div>
        </div>
    </div>
    <div class="specContent">
        <div class="container mt-5">
            <h1 class="pt-5  specHeader">
                What makes us unique !
            </h1>
            <div class="row specOverAllContainer">
                <div class="specbox">
                    <div class="specforconheader">
                        <img src="assets/image/lang.svg" alt="" />
                        <h2 class="headerInd">Languages </h2>
                    </div>
                    <p class="specdetails">
                        Our tool translates English captions into over
                        <b>80 languages</b>, ensuring global reach with accuracy and
                        cultural relevance.
                    </p>
                </div>
                <div class="specbox">
                    <div class="specforconheader">
                        <img src="assets/image/hassele.svg" alt="" />
                        <h2 class="headerInd">
                            Hassle-Free Video Perfection
                        </h2>
                    </div>
                    <p class="specdetails">
                        Don't worry about alignment or errors in your videos—leave it to
                        us! We'll handle everything, ensuring flawless results every
                        time.
                    </p>
                </div>
                <div class="specbox">
                    <div class="specforconheader">
                        <img src="assets/image/effortless.svg" alt="" />
                        <h2 class="headerInd">Effortless Accessibility </h2>
                    </div>
                    <p class="specdetails">
                        Our software is accessible directly through your browser, with
                        no need for physical installation. Enjoy seamless usage without
                        the hassle of downloads or setup.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="demo">
        <div class="container">
            <h1 class="pt-5 demoHeader">How to use Subt Ai ?</h1>
            <div class="demoLeftCricle"></div>
            <div class="row demoAllContainer">
                <div class="demobox">
                    <div class="demoforconheader">
                        <h2 class="demoheaderInd">Upload Video </h2>
                    </div>
                    <div class="demoVideo"></div>
                    <p class="demodetails">
                        Upload your video easily by either dragging and dropping it here
                        or selecting it from your computer."
                    </p>
                </div>
                <div class="demobox">
                    <div class="demoforconheader">
                        <h2 class="demoheaderInd">Generating Subtitle</h2>
                    </div>
                    <div class="demoVideo"></div>
                    <p class="demodetails">
                        Let our AI handle subtitle generation for you—sit back, relax,
                        and let us take care of the rest
                    </p>
                </div>
                <div class="demobox">
                    <div class="demoforconheader">
                        <h2 class="demoheaderInd">Download it</h2>
                    </div>
                    <div class="demoVideo"></div>
                    <p class="demodetails">
                        Now download your video and enhance its appearance with ease
                    </p>
                </div>
            </div>
            <div class="demoRightCricle"></div>
        </div>
    </div>
    <div class="subtiSection">
        <div class="container">
            <h1 class="subtHeader">WHAT IS THE NEED OF SUBTITILE ?</h1>
            <div class="row subtOverAll">
                <div class="col-12 subtcont">
                    <img class="subImg" src="assets/image/accessablity.svg" alt="" />
                    <div class="subcontent">
                        <h3 class="subtitle">Improved Accessibility</h3>
                        <p class="subPara">
                            make content accessible to viewers with hearing impairments,
                            ensuring inclusivity.
                        </p>
                    </div>
                </div>
                <div class="col-12 subtcont">
                    <img class="subImg" src="assets/image/lang.svg" alt="" />
                    <div class="subcontent">
                        <h3 class="subtitle">Language Support</h3>
                        <p class="subPara">
                            They help non-native speakers understand the content,
                            broadening the video’s global audience reach.
                        </p>
                    </div>
                </div>
                <div class="col-12 subtcont">
                    <img class="subImg" src="assets/image/en.svg" alt="" />
                    <div class="subcontent">
                        <h3 class="subtitle">Enhanced Comprehension</h3>
                        <p class="subPara">
                            Subtitles reinforce understanding by providing a written
                            version of the spoken words, especially in fast-paced or
                            complex videos.
                        </p>
                    </div>
                </div>
                <div class=" col-12 subtcont">
                    <img class="subImg" src="assets/image/seo.svg" alt="" />
                    <div class="subcontent">
                        <h3 class="subtitle">Better SEO and Engagement</h3>
                        <p class="subPara">
                            Subtitled videos can rank higher on search engines and
                            encourage more engagement, as viewers are likely to stay
                            longer.
                        </p>
                    </div>
                </div>
                <div class="col-12 subtcont">
                    <img class="subImg" src="assets/image/silent.svg" alt="" />
                    <div class="subcontent">
                        <h3 class="subtitle">Silent Viewing</h3>
                        <p class="subPara">
                            Subtitles make it possible to follow along even in sound-off
                            environments, such as in public places or offices.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="futured">
        <h4 class="futuredHead">Futured On :</h4>
        <div class="futuredSection">
            <div class="futuredUl row">
                <div class="futuredItem col">
                    <img src="assets/image/futured/2ndbuys.svg" height="40px" />
                </div>
                <div class="futuredItem col">
                    <img src="assets/image/futured/asx.svg" height="40px" />
                </div>
                <div class="futuredItem col">
                    <img src="assets/image/futured/hsnd.svg" height="40px" />
                </div>
                <div class="futuredItem col">
                    <img src="assets/image/futured/pdasd.svg" height="40px" />
                </div>
            </div>
        </div>
    </div>
    <div class="langSupSection">
        <div class="container">
            <h2 class="langSupHead">Multi-Language Support</h2>
            <div class="row   langSupContainer">
                <div class="col-lg-5 offset-lg-1 langLeftSide ">
                    <p>
                        Our auto Subtitles generator supports <b>80+ languages</b> ,
                        offering a user-friendly interface and accurate translations.
                        Easily create and communicate across diverse audiences while
                        breaking down language barriers!
                    </p>
                </div>
                <div class="  col-lg-1">
                    <div class="langCenter"></div>
                </div>
                <div class="col-lg-5">
                    <img class="langRightSide" src="assets/image/languagesupport.svg" height="300px"
                        alt="language support" />
                </div>
            </div>
        </div>
    </div>
    <div class="faqSection">
        <div class="container">
            <h1 class="faqHeader">Frequently Asked Questions</h1>
            <div *ngFor="let item of data; let i = index" class="faqaccordion">
                <div class="faqtitile" (click)="toggle(i)">
                    <h6 [ngClass]="selected === i ? 'faqyes' : 'faqno'">
                        {{ item.header }}
                    </h6>
                    <span class="faqIcon">
                        <img src="assets/image/cross.svg" [ngClass]="{ 'rotate': selected === i }" height="18px" />
                    </span>
                </div>
                <div [ngClass]="selected === i ? 'faqshow' : 'faqhide'" class="faqParaSection">
                    <hr *ngIf="selected === i" />
                    <p class="faqPara">
                        {{ item.content }}
                    </p>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>