<footer>
    <div class="container">
  <div class="row ">
    <div class="col-lg-2 offset-lg-1">
      <div class="subtaiWhiteLog">
        <img src="assets/image/subtaiwhitelogo.svg" height='70px' alt="subtai" />
      </div>
      <div class="media-icons">
        <a href="https://www.instagram.com/asx_tech_pvt_ltd/" target="_blank">
          <img src="assets/image/insta.svg" height='30px' alt="Instagram" />
        </a>
        <a href="" target="_blank">
          <img src="assets/image/facebook.svg" height='30px'alt="facebook"  />
        </a>
        <a href="https://www.linkedin.com/company/asx-technologies-pvt-ltd/" target="_blank">
          <img src="assets/image/linkedin.svg" height='30px' alt="Linkedin" />
        </a>
        <a href="" target="_blank">
          <img src="assets/image/youtube.svg" height='30px' alt="YouTube" />
        </a>
      </div>
    </div>
    <div class="col-lg-2 offset-lg-2">
      <h5 class="footer-header">SERVICES</h5>
      <ul class="footer-list">
        <li class="footer-list-item">
          <a href="">Enterprise</a>
        </li>
        <li class="footer-list-item">
          <a href="">Creators</a>
        </li>
        <li class="footer-list-item">
          <a href="">Education</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-2">
      <h5 class="footer-header">Solutions</h5>
      <ul class="footer-list">
        <li class="footer-list-item">
          <a href="">Subtitles</a>
        </li>
        <li class="footer-list-item">
          <a href="">Pricing</a>
        </li>
        <li class="footer-list-item">
          <a href="">Transcription</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-2">
      <h5 class="footer-header">COMPANY</h5>
      <ul class="footer-list">
        <li class="footer-list-item">
          <a href="">About Us</a>
        </li>
        <li class="footer-list-item">
          <a href="">Privacy Policy</a>
        </li>
        <li class="footer-list-item">
          <a href="">Refund Policy</a>
        </li>
        <li class="footer-list-item">
          <a href="">Terms of Service</a>
        </li>
        <li class="footer-list-item">
          <a href="">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="copudiv">
      <h6 class="copy-rights">
        © 2024 <a href="https://asxtec.com" target="_blank"> ASX Technologies Pvt. Ltd </a>. All Rights Reserved.
      </h6>
    </div>
  </div>
  </div>
</footer>